body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    word-break: keep-all;
    overflow-wrap: anywhere;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* __next */
#__next {
    box-sizing: border-box;
}

body {
    display: block;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/* main */
.css-1i6vue {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

main {
    unicode-bidi: isolate;
}

/* section */
.css-cvaybd {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
}

section {
    unicode-bidi: isolate;
}

/* footer */
.css-1rhbhpi {
    padding-top: 32px;
}

footer {
    display: block;
    unicode-bidi: isolate;
}

/* 회원가입 전체 div */
.css-7qdx4z {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 회원가입 div */
.css-9bdxp9 {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
}

/* '이메일로 로그인' 빈공간 포함 div */
.css-1nm9gyu {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
}

/* '이메일로 로그인' 외 div */
.css-1qjqoce {
    margin-top: 56px;
    scrollbar-width: none;
}

/* 빈 공간(좌) */
.css-oan6e {
    visibility: hidden;
    min-width: 64px;
}

.css-1krggrv {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: rgb(0, 0, 0);
}

button {
    appearance: auto;
    text-rendering: auto;
    /* color: buttontext; */
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    /* cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em; */
    padding-block: 1px;
    padding-inline: 6px;
    /* border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial; */
}

.css-1ihsymv {
    display: flex;
    align-items: inherit;
    justify-content: inherit; 
}

.css-1krggrv svg {
    fill: inherit;
}

.css-t07f4u {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    font-size: 24px;
}

/* svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
} */

/* '이메일로 로그인' div */
.css-1iooy02 {
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: rgb(23, 23, 25);
}

.css-14qpgc6 {
    text-align: center;
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: rgb(23, 23, 25);
}

/* 빈 공간(우) */
.css-1jxi7lq {
    display: flex;
    min-width: 64px;
    justify-content: flex-end;
    align-items: center;
}

/* '이메일로 로그인' 외 div */
.css-1qjqoce {
    margin-top: 56px;
    scrollbar-width: none;
}

.css-e130a2 {
    display: flex;
    flex-direction: column;
    /* -webkit-box-pack: center; */
    justify-content: center;
    gap: 48px;
}

/* 이메일, 비밀번호, 로그인 div */
.css-e130a2 > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 이메일 */
.css-14o8ny9 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.css-cssveg {
    position: relative;
}

.css-env1z2 {
    margin-bottom: 8px;
}

.css-1sbrczv {
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 0px 16px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(112, 115, 124, 0.22);
    color: rgb(23, 23, 25);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}

input {
    text-rendering: auto;
    /* color: fieldtext; */
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    /* background-color: field; */
    /* margin: 0em; */
    /* padding: 1px 0px; */
    /* border-width: 2px; */
    /* border-style: inset; */
    /* border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    /* border-image: initial; */
    /* padding-block: 1px; */
    /* padding-inline: 2px; */
}

/* input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
} */

.css-depv0x {
    color: rgb(255, 66, 66);
    /* font-weight: var(--text-weight-footnote-normal); */
    text-align: left;
    /* letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote); */
}

.css-depv0x {
    text-align: left;
    font-size: var(--text-size-footnote);
}

/* 비밀번호 */
.css-1dxhdfz {
    position: relative;
}

.css-env1z2 {
    margin-bottom: 8px;
}

.css-afh7p0 {
    color: rgba(55, 56, 60, 0.61);
    font-weight: var(--text-weight-subhead-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-subhead);
    font-size: var(--text-size-subhead);
    line-height: var(--text-height-subhead);
}

label {
    cursor: default;
}

/* 로그인 유지 */
.css-1ayr5qo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    margin: 8px 0px;
}

.css-1ayr5qo > input {
    width: 15px;
    height: 15px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    /* box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial; */
    border: initial;
}

.css-1ayr5qo > div {
    margin: 0px;
}

.css-15fzn57 {
    position: absolute;
    top: 40px;
    right: 12px;
    font-size: 24px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

/* 오류났던... */

/* 로그인 */
.css-14q7s2s {
    border: none;
    width: 100%;
    height: 48px;
    min-height: 48px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(55, 56, 60, 0.16);
    background-color: rgb(244, 244, 245);
    cursor: default;
}

.css-14q7s2s > span {
    display: inline-block;
}

/* 이메일로 회원가입, 비밀번호 재설정 div */
.css-z0tt1n {
    position: relative;
    /* display: flex; */
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 1px solid rgba(112, 115, 124, 0.22);
    padding-top: 48px;
}

/* 또는 */
.css-1q5pm8j {
    /* font-weight: var(--text-weight-caption1-bold); */
    text-align: left;
    /* letter-spacing: var(--text-spacing-caption1);
    font-size: var(--text-size-caption1);
    line-height: var(--text-height-caption1); */
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    padding: 0px 12px;
    color: rgba(55, 56, 60, 0.61);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* ('또는' 아래) 이메일로 회원가입, 비밀번호 재설정 */
.css-z0tt1n > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

.css-z0tt1n > div button {
    margin: 0px;
    /* width: fit-content; */
}

/* 이메일로 회원가입 */
.css-kcksh6 {
    height: 48px;
    min-height: 48px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(112, 115, 124, 0.22);
    width: 100% !important;
}

.css-kcksh6 span {
    color: var(--theme-palette-primary-normal);
}

.css-kcksh6 > span {
    color: blue;
    font-weight: bold;
    /* 위 2개 - 임시 */
    display: inline-block;
}

/* 비밀번호 재설정 */
.css-z0tt1n > div button {
    margin: 0px;
    width: fit-content;
}

.css-1hfuen3 {
    /* width: 100%; */
    height: 48px;
    min-height: 48px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
}

