@font-face {
    font-family: "Pretendard-Black";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Black.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Bold.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-ExtraBold.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-ExtraLight.woff2") format(woff2); 
}

@font-face {
    font-family: "Pretendard-Light";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Light.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Medium.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Regular.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-SemiBold";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-SemiBold.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-Thin";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Thin.woff2") format(woff2);
}

@font-face {
    font-family: "PretendardVariable";
    src: url("/fonts/Pretendard-1.3.9/web/variable/woff2/PretendardVariable.woff2") format(woff2);
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

/* ?? */
body { 
    margin: 0;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.42857143;
    font-family: "";
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

ol, ul {
    list-style: none;
}

/* a, a:active, a:hover, a:visited (원본) */
a {
    color: inherit;
}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.top-padding {
    height: 60px; 
}

.main {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    background-color: #fff;
}

/* section */
.section {
    display: flex;
    gap: 80px;
    margin: 0 auto;
    padding: 0 20px 56px;
}

.section-wrapper {
    width: 100%
}

/* section-div-1 */
.section-div-1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 56px;
}


.charging-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.charging-title-div {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #000;
}

.charging-title {
    font-weight: 700; 
    font-size: 24px;
    letter-spacing: -.023em;
    line-height: 32px;
    margin: 0;
}

.svgIcon {
    font-size: 24px;
    color: #06f;
}

.svgIcon-location {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.svgIcon-svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor; 
    flex-shrink: 0;
    font-size: inherit;
}

.about-charging-content-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-charging-content {
    width: 100%;
    color: rgba(46, 47, 51, .88);
    font-size: 15px;
    letter-spacing: .0096em;
    line-height: 24px;
}

.about-charging-tag {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.tag-text {
    padding: 3px 6px;
    border-radius: 4px;
    background-color: rgb(241 243 254);
}

.tag-font {
    font-size: 13px;
    letter-spacing: .0194em;
    line-height: 18px;
} 

.blue-text-style {
    color: #06f;
    font-weight: 500;
}

/* section-div-2 */
.section-div-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.weightBold {
    font-weight: 600; 
}

.charge-select-title {
    font-size: 20px;
    letter-spacing: -.012em;
    line-height: 28px;
    margin: 0;
}

.charge-select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.charge-select-list {
    display: grid;
    gap: 16px; 
}

.charge-select-list-li {
    width: 100%;
}

.charge-item {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    padding: 24px 12px 24px 24px;
    border: 1px solid hsla(225, 5%, 46%, .08);
    border-radius: 12px;
}

.charge-item-content-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
}

.charge-item-point {
    display: flex;
    align-items: center;
    gap: 0 4px;
}

.charge-item-content-div .point-text {
    color: #06f;
}

.point-text {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .0145em;
    line-height: 20px;
}

