a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
* {
    color: inherit;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.42857143;
    font-family: Pretendard Variable, Pretendard JP Variable, -apple-system,
        system-ui, BlinkMacSystemFont, Roboto, Segoe UI, Helvetica, Arial,
        Apple SD Gothic Neo, Nanum Gothic, Malgun Gothic, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
select,
span,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}
.place-list {
    background: #fff;
    min-height: calc(100vh - 60px);
    position: relative;
    height: 100%;
}
.place-list-filter {
    padding-top: 20px;
    padding-bottom: 60px;
    position: sticky;
    top: 60px;
    left: 0;
    background: #f0fff0;
    z-index: 2;
}
.filter {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}
.filter-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category {
    position: relative;
    display: flex;
    gap: 32px;
}
.category-button-left {
    color: #171719;
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 0;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background: none;
}
.category-button-left span {
    gap: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.button-label {
    width: 100%;
}
.button-label-title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.023em;
    line-height: 32px;
}
.button-icon-left {
    border-radius: 8px;
    border: 1px solid hsla(225, 5%, 46%, 0.16);
    padding: 4px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.SvgIcon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}
.category-button-right {
    color: #171719;
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 0;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background: none;
}
.category-button-right span {
    gap: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.button-label {
    width: 100%;
}
.button-label-title-right {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.023em;
    line-height: 32px;
}
.button-icon-right {
    border-radius: 8px;
    border: 1px solid hsla(225, 5%, 46%, 0.16);
    padding: 4px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.sort-filter {
    display: flex;
    align-items: center;
    background-color: #f7f7f8;
    height: 40px;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
ul {
    list-style: none;
}
.list-item.check-list-item {
    background-color: #fff;
    border-radius: 8px;
    width: 76px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item {
    width: 76px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item-span.check-span {
    color: #171719;
    will-change: color;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.0145em;
    line-height: 20px;
    margin: 0;
}
.list-item-span {
    color: rgba(55, 56, 60, 0.61);
    will-change: color;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.0145em;
    line-height: 20px;
    margin: 0;
}
hr {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 250px;
    margin-right: 250px;
    border-style: inset;
    border-width: 1px;
}
.place-list-content {
    padding: 24px 0 80px;
    max-width: 1400px;
    width: 90%;
    position: relative;
    margin: 50px auto;
}
.popular-place-header {
    position: relative;
    margin-bottom: 16px;
}
.popular-place-header-name {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.0057em;
    line-height: 24px;
    margin: 0;
}
.popular-place-list {
    padding: 0;
}
.popular-place-detail {
    display: inline-block;
    width: 24%;
    list-style: none;
    vertical-align: top;
    padding: 10px 8px;
}
.place-card {
    display: inline-block;
    position: relative;
    width: 100%;
}
.place-card a {
    appearance: none;
    outline: none;
}
a {
    color: inherit;
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}
.place-card-thumb {
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
    padding-bottom: 67%;
    background-size: cover;
    background-position: 50%;
    border-radius: 12px;
}
/* 화면작아지면 next버튼 사라짐,, */
/* 이동 버튼 */
.place-card-thumb .next-btn img {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(260px, 90px);
    cursor: pointer;
}
.place-card-thumb .before-btn img {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(5px, 90px);
    cursor: pointer;
}
/* 버튼 눌렀을때 화면이동부분 */
.place-card-thumb .place-img img {
    position: absolute;
    display: none;
}
.place-img img.active {
    display: flex;
}
/* 포인트, 돈 ,new, hot 들어가는 부분 */
.place-card-thumb .point img {
    position: absolute;
    z-index: 1;
    width: 28px;
    height: 28px;
    transform: translateX(3px);
}
.place-card-thumb .money img {
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    transform: translate(31px, -1px);
}
.color-icon {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 6px;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-end;
}
.color-icon span {
    font-size: 13px;
    margin-top: 10px;
    margin-right: 5px;
}
.icon-hot {
    position: absolute;
    min-width: max-content;
    height: fit-content;
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: 600;
    line-height: 14.4px;
    color: white;
    background-color: red;
    z-index: 1;
    transform: translate(-50px, 9px);
}
.icon-new {
    position: absolute;
    min-width: max-content;
    height: fit-content;
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: 600;
    line-height: 14.4px;
    color: white;
    background-color: rgb(97, 180, 255);
    z-index: 1;
    transform: translate(0px, 9px);
}
/* 대여가능 장소에 new 버튼 */
.place-card-etc .icon-new {
    min-width: max-content;
    height: fit-content;
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: 600;
    line-height: 14.4px;
    color: white;
    background-color: rgb(97, 180, 255);
    margin-right: 4px;
    z-index: 1;
}
.place-card-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    max-width: 330px;
}
img {
    vertical-align: middle;
}

.place-card-title {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.0057em;
    line-height: 24px;
}
/* 별점 자리들어가는 곳 */
.place-scope {
    float: right;
    font-size: 14px;
    position: relative;
}
.scope-img {
    width: 23px;
    height: 23px;
    position: absolute;
    transform: translate(-24px);
}
.place-card-content {
    color: rgba(55, 56, 60, 0.61);
    margin-top: 4px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.0194em;
    line-height: 18px;
}
.place-price {
    padding-top: 5px;
    font-size: 13px;
    font-weight: 500;
}
.place-price-detail {
    font-size: 16px;
    font-weight: 800;
}
.hr {
    margin-bottom: 0.5em;
    margin-left: 0px;
    margin-right: 0px;
    border-style: inset;
    border-width: 1px;
}
.etc-place {
    margin-top: 20px;
}
.etc-place-header {
    position: relative;
    margin-bottom: 16px;
}
.etc-header-name {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.0057em;
    line-height: 24px;
    margin: 0;
}
.etc-place-list {
    padding: 0;
}
.etc-place-detail {
    display: inline-block;
    width: 24%;
    list-style: none;
    vertical-align: top;
    padding: 20px 8px;
}
.place-card-etc {
    display: inline-block;
    position: relative;
    width: 100%;
}
.place-card-etc a {
    appearance: none;
    outline: none;
}
.place-card-etc-thumb {
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
    padding-bottom: 67%;
    background-size: cover;
    background-position: 50%;
    border-radius: 12px;
}
.place-card-etc-thumb::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    z-index: 1;
    box-sizing: border-box;
    outline: 1px solid rgba(23, 23, 25, 0.05);
    outline-offset: -1px;
}
.place-card-etc-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}
.place-card-etc-thumb::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.35));
}
.place-card-etc-title {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.0057em;
    line-height: 24px;
}
.place-card-etc-content {
    color: rgba(55, 56, 60, 0.61);
    margin-top: 4px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.0194em;
    line-height: 18px;
}
.modal-div {
    position: absolute;
    top: 56px;
    right: inherit;
    bottom: inherit;
    left: 0;
    display: none;
    z-index: 5;
}
.modal-body {
    min-width: 670px;
    border-radius: 16px;
    box-shadow: 0 4px 30px 10px rgba(0, 0, 0, 0.06);
    padding: 0;
    background-color: #fff;
}
.modal-title {
    display: flex;
    align-items: center;
    padding: 22px 24px;
    margin: 0;
}
.modal-title-h5 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.012em;
    line-height: 28px;
    margin: 0;
}
.modal-title > :last-child {
    position: absolute;
    right: 16px;
    top: 16px;
}
.icon-button-cancel {
    border: none;
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.icon-button-cancel-label {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    color: inherit;
}
.SvgIcon-root {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.SvgIcon-path {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}
/* x 버튼에 마우스 가져다대면 나타나는 배경 */
.icon-button-cancel:hover .icon-button-cancel-interaction {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    border-radius: 20px;
}
.icon-button-cancel-sports:hover .icon-button-cancel-interaction {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    border-radius: 20px;
}
.modal-content {
    display: flex;
    height: 400px;
    padding: 0;
}
.modal-content > ul {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding: 0 8px;
    overflow: scroll;
    gap: 8px;
}
.category-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 16px;
    border-radius: 12px;
}
/* 카테고리선택시 나타나는 뒷배경 */
.check-category-item {
    background: rgb(220, 220, 220);
}
.category-item > p {
    flex: 1 1;
}
.category-item-title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.0057em;
    line-height: 24px;
    text-align: left;
}
.SvgIcon-category-item {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.SvgIcon-category-item-svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
}
.category-item svg {
    font-size: 16px;
    color: rgba(55, 56, 60, 0.28);
}
/* 지역전체선택시 css */
.empty-category {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgba(55, 56, 60, 0.61);
    margin: 154px auto;
}
.empty-category p {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.0057em;
    line-height: 24px;
    text-align: center;
}
/* 지역상세선택 */
.seoul {
    display: none;
}
.busan {
    display: none;
}
.daegu {
    display: none;
}
.incheon {
    display: none;
}
.gwangju {
    display: none;
}
.daejeon {
    display: none;
}
.ulsan {
    display: none;
}
.sejong {
    display: none;
}
.gyeonggi {
    display: none;
}
.gangwondo {
    display: none;
}
.chungcheongbugdo {
    display: none;
}
.chungcheongnamdo {
    display: none;
}
.jeonlabugdo {
    display: none;
}
.jeonlanamdo {
    display: none;
}
.gyeongsangbugdo {
    display: none;
}
.gyeongsangnamdo {
    display: none;
}
.jeju {
    display: none;
}
.select-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 24px;
}
.select-item > p {
    flex: 1 1;
}
.select-item-p {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.0057em;
    line-height: 24px;
    text-align: left;
}
.check-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    z-index: 1;
    margin: 0;
    padding: 2px;
    background-color: transparent;
    border: 0;
    box-sizing: inherit;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
}
.check-box > input {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}
.SvgIcon-root-checkbox {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.select-item svg {
    font-size: 24px;
}
.SvgIcon-checkbox {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
}
.check {
    fill: #3366ff;
}

.no-check {
    fill: rgba(112, 115, 124, 0.16);
}
.modal-footer {
    border-top: 1px solid #f4f4f5;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}
.reset-button {
    min-width: 90px;
    padding: 0 20px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    color: black;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    cursor: pointer;
    border: rgb(220, 220, 220) solid 1px;
}
.reset-button-label {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}
.apply-button {
    min-width: 90px;
    padding: 0 20px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
    background-color: #06f;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    cursor: pointer;
}
.apply-button-label {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}
.modal-div-sports {
    position: absolute;
    top: 56px;
    right: inherit;
    bottom: inherit;
    left: 150;
    display: none;
    z-index: 5;
}
.modal-body-sports {
    min-width: 330px;
    border-radius: 16px;
    box-shadow: 0 4px 30px 10px rgba(0, 0, 0, 0.06);
    padding: 0;
    background-color: #fff;
}
.modal-title-sports {
    display: flex;
    align-items: center;
    padding: 22px 24px;
    margin: 0;
}
.modal-title-h5-sports {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.012em;
    line-height: 28px;
    margin: 0;
}
.modal-title-sports > :last-child {
    position: absolute;
    right: 16px;
    top: 16px;
}
.icon-button-cancel-sports {
    border: none;
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
.icon-button-cancel-label-sports {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    color: inherit;
}
.SvgIcon-root-sports {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.SvgIcon-path-sports {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}
.modal-content-sports {
    display: flex;
    height: 400px;
    padding: 0;
}
.modal-content-sports > ul {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding: 0 8px;
    overflow: scroll;
    gap: 8px;
}
.sports {
    display: block;
}
.modal-footer-sports {
    border-top: 1px solid #f4f4f5;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}
.reset-button-sports {
    min-width: 90px;
    padding: 0 20px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    color: black;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    cursor: pointer;
    border: rgb(220, 220, 220) solid 1px;
}
.reset-button-label-sports {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}
.apply-button-sports {
    min-width: 90px;
    padding: 0 20px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    color: #fff;
    background-color: #06f;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    cursor: pointer;
}
.apply-button-label-sports {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}
/* 등록하기 이미지 */
.place-register {
    z-index: 5;
    transform: translateX(1430px);
    position: fixed;
}
.register-img img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.register-img-title {
    margin-top: 10px;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 600;
}
