@font-face{
    font-family: "pretendard";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff/Pretendard-Black.woff")
    format("woff");
}
@font-face{
    font-family: "pretendardvariable";
    src: url("/fonts/Pretendard-1.3.9/web/variable/woff2/PretendardVariable.woff2")  
    format("woff2");
}

body {
    font-family: "pretendardvariable", sans-serif;
}


h1 {
    font-family: "pretendardvariable", sans-serif;
}

p {
    font-family: "pretendardvariable", sans-serif;
}


html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root {
    --nav-height: 60px;
   
}
div {
    display: block;
    unicode-bidi: isolate;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

ol, ul {
    list-style: none;
}
a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}


a, a:active, a:hover, a:visited {
    color: inherit;
}
button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
img {
    vertical-align: middle;
}
#input-file {
    display: none;
}










/* 모달 배경 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 어두운 배경 */
    overflow: auto; /* 스크롤 처리 */
}

/* 모달 컨텐츠 */
.modal-content {
    background-color: white;
    margin: 10% auto; /* 중앙에 위치하도록 */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px; /* 모서리 둥글게 */
    width: 30%; /* 모달 너비 */
    max-width: 500px; /* 최대 너비 */
    text-align: center;
    position: relative;
}

/* 닫기 버튼 스타일 */
.close {
    position: absolute;
    right: 10px;
    top: 1px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 제목 스타일 */
.modal-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

/* 입력 필드 스타일 */
.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 버튼 컨테이너 */
.modal-buttons {
    display: flex;
    justify-content: space-between;
}

/* 취소 버튼 스타일 */
.cancel-button {
    background-color: #f1f1f1;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

/* 저장 버튼 스타일 */
.save-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

/* 버튼 호버 효과 */
.cancel-button:hover,
.save-button:hover {
    opacity: 0.8;
}



/* css */
.css-13g9oxf {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: -7px;
    bottom: -7px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: var(--theme-palette-primary-normal);
    color: rgb(255, 255, 255);
}
.css-1o7ygxq {
    margin-bottom: 20px;
  }
  
  .css-1sbrczv {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .css-xuwcvx {
    display: flex;
    justify-content: flex-end;
  }
  
  .css-6ty6h4, .css-typupr {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .css-typupr > span {
    display: inline-block;
}
.css-typupr:disabled span {
    color: rgba(55, 56, 60, 0.16);
}
  .css-6ty6h4 span {
    color: var(--theme-palette-primary-normal);
    display: inline-block;
}
  
  .css-6ty6h4:hover, .css-typupr:hover {
    background-color: #0056b3;
  }
  
  .css-6ty6h4 {
    background-color: #6c757d;
  }
  
  .css-6ty6h4:hover {
    background-color: #5a6268;
  }

  .css-igfsh2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 64px;
    min-height: 64px;
}
.css-1nm9gyu {
    height: fit-content;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
}
.css-oan6e {
    visibility: hidden;
    min-width: 1px;
}

.css-1iooy02 {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: rgb(23, 23, 25);
}

.css-14qpgc6 {
    text-align: center;
    letter-spacing: var(--text-spacing-headline);
    line-height: var(--text-height-headline);
    display: flex;
    flex: 1 1 0%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: rgb(23, 23, 25);
}
.css-1nhn4wl {
    color: rgb(0, 0, 0);
    font-weight: var(--text-weight-headline-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-headline);
    font-size: var(--text-size-headline);
    line-height: var(--text-height-headline);
}
.css-1jxi7lq {
    display: flex;
    min-width: 64px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.css-1krggrv {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: rgb(0, 0, 0);
}
.css-1ihsymv {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.css-t07f4u {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    font-size: 24px;
}
.css-1bgr1f2 {
    padding: 0px 20px 18px;
}
.css-1o7ygxq {
    margin: 30px 0px;
}
.css-14o8ny9 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.css-gjm025 {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
}
.css-1sbrczv {
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 0px 16px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(112, 115, 124, 0.22);
    color: rgb(23, 23, 25);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}
.css-1sbrczv:read-only {
    color: rgba(55, 56, 60, 0.28);
    -webkit-text-fill-color: rgba(55, 56, 60, 0.28);
    background-color: rgb(244, 244, 245);
    opacity: 1;
}
.css-1ki778g {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 0px 15px;
    width: auto;
    flex: 0 0 auto;
    border-radius: 10px;
    border: 1px solid rgba(112, 115, 124, 0.22);
    
}
.css-1ki778g > span {
    display: inline-block;
}
.css-kfktv3 {
    font-weight: var(--text-weight-body-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}
.css-typupr:disabled {
    color: rgba(55, 56, 60, 0.16);
    background-color: rgb(244, 244, 245);
    border: none;
    cursor: default;
}
.css-gjm025 {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
}

.css-1sbrczv {
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 0px 16px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(112, 115, 124, 0.22);
    color: rgb(23, 23, 25);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
}
.css-1sbrczv:read-only {
    color: rgba(55, 56, 60, 0.28);
    -webkit-text-fill-color: rgba(55, 56, 60, 0.28);
    background-color: rgb(244, 244, 245);
    opacity: 1;
}
.css-w4w76d {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.css-fgpkp4 {
    color: rgb(0, 191, 64);
    font-weight: var(--text-weight-footnote-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-top: 0px;
    margin-bottom: 0px;
}





























/* 마이페이지 */
.MainLayout_MainLayout__shOxU {
    background-color: #fff;
    min-height: calc(100vh - 60px);
}
.MainLayout_MainLayout__root__HPQqc {
    display: flex;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}
.MainLayout_MainLayout__root__HPQqc {
    width: 1060px;
    padding: 0;
    border-left: 1px solid #f7f7f7;
}

.history_img{
    width: 90%;
    height: 90%;
}


.MainLayout_MainLayout__space__vN0G7 {
    display: none;
}

.MainLayout_MainLayout__mobileLnb__hwF8V {
    display: flex;
}
.MainLayout_MainLayout__pcLnb___avSz {
    display: flex;
}

.MainLayout_MainLayout__space__vN0G7 {
    display: block;
}

.MainLayout_MainLayout__sidebar__paSI7 {
    display: flex;
    padding: 59px 0 0 55px;
    border-right: 1px solid #f7f7f7;
}







/* svg */
.SvgIcon_SvgIcon__root__OHiSO {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.SvgIcon_SvgIcon__root__svg__ohdSc {
    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}





/*Divider  */


.Divider_Divider__root__vpedr {
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    background-color: hsla(225, 5%, 46%, .22);
}
.Divider_Divider__vertical__syqdw {
    height: 100%;
    width: 1px;
    margin-left: calc(4px* 2);
    margin-right: calc(4px* 2);
    align-self: stretch;
    height: auto;
}
.Divider_Divider__colorAlternative__e_8LX {
    background-color: hsla(225, 5%, 46%, .08);
}







/* Avatar */
.ActivityPage_ActivityPage__ta_Rp {
    min-width: 468px;
    margin: 40px auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 48px;
}
.Avatar_Avatar__root__p2QCs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #f7f7f7;
    color: #fff;
    background-color: #fff;
    font-size: 1.538em;
    line-height: 1;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}
.Avatar_Avatar__sizeXlarge__VX1z0 {
    width: 56px;
    height: 56px;
    font-size: 37px;
}

.Avatar_Avatar__bg__oBRYi {
    position: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-shrink: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: inherit;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: inherit;
    -webkit-user-select: inherit;
    user-select: inherit;
}

.Avatar_Avatar__img__iaNX_ {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
}

.Avatar_Avatar__roundedSizeLarge__BIXTE {
    border-radius: 10px;
    border-radius: 12px;
}

.Avatar_Avatar__sizeLarge__ONMwJ {
    width: 48px;
    height: 48px;
    font-size: 32px;
}
.Avatar_Avatar__defaultBackground__uv7ri {
    background-color: hsla(225, 5%, 46%, .16);
}
.ApplySummary_ApplySummary__WuQPZ {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
}
.ApplySummary_ApplySummary__container__NTH3o {
    width: 100%;
    border-radius: 12px;
    background: hsla(225, 5%, 46%, .04);
}
.ApplySummary_ApplySummary__container_counterContainer__SiBuu {
    margin: 20px 0;
    color: #000;
    min-height: 42px;
}
.ApplySummary_ApplySummary__container_counterContainer__SiBuu>div:not(:last-child) {
    border-right: 1px solid hsla(225, 5%, 46%, .04);
}

.ProfileEditAvatar_ProfileEditAvatar__avatar__jh4H3{
    width: 86px !important;
    height: 86px !important;
    font-size: 63px !important;
}




/* FavoriteSummary */
.FavoriteSummary_FavoriteSummary__pOUPg {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
    color: rgba(55, 56, 60, .61);
}
.FavoriteSummary_FavoriteSummary__container__cEWK2 {
    width: 100%;
    border-radius: 12px;
    background: hsla(225, 5%, 46%, .04);
}
.FavoriteSummary_FavoriteSummary__container_counterContainer__idP5S {
    margin: 20px 0;
    color: #000;
}
.FavoriteSummary_FavoriteSummary__container_counterContainer__idP5S>div:not(:last-child) {
    border-right: 1px solid hsla(225, 5%, 46%, .04);
}






/* CountSummary */
.CountSummary_CountSummary__mm865 {
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
}
.CountSummary_CountSummary_summaryTitle__lDXC6 {
    color: rgba(46, 47, 51, .88);
}






/* iconbutton */
.IconButton_IconButton__normal__Twwsf {
    border: none;
}
.IconButton_IconButton__root__IJlt6 {
    position: relative;
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
}
.IconButton_IconButton__label__o4AtY {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}
.IconButton_IconButton__interaction__7RjPt {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #171719;
    transition: opacity .2s ease;
    will-change: opacity;
}
.IconButton_IconButton__outlined__5IpKA {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px hsla(225, 5%, 46%, .22);
}
.IconButton_IconButton__root__IJlt6:hover {
    background-color: #f0f0f0;
}

.IconButton_IconButton__root__IJlt6:active {
    background-color: #e0e0e0;
}

















/* button */
.Button_Button__root__m1NGq {
    /* --button-color: #171719;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: normal;
    border: none;
    background-color: none;
    cursor: pointer;
    white-space: nowrap; */
    --button-color: #171719;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: normal;
    border: none;
    background-color: transparent; 
    cursor: pointer;
    white-space: nowrap;
}


.Button_Button__text__tIDdK {
    padding: 4px 8px;
    border-radius: 6px;
}
.Button_Button__textPrimary__dAN0P, .Button_Button__text__tIDdK {
    --button-color: #06f;
    color: var(--button-color);
}
.Button_Button__textAssistive__AQpOp {
    --button-color: rgba(55, 56, 60, .61);
    color: var(--button-color);
}
.Button_Button__textSizeMedium__uBHGm {
    font-size: 16px;
    font-weight: 600;
}
.Button_Button__fullWidth__zAnDP {
    width: 100%;
}


.Button_Button__label__K0sBs {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: inherit;
}


.Button_Button__interaction__1LUyr {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: var(--button-color);
    transition: opacity .2s ease;
    will-change: opacity;
}
.Button_Button__textDisableGutters__I8OhM>.Button_Button__interaction__1LUyr {
    left: -8px;
    right: -8px;
}

.Button_Button__containedSizeMedium__xBgIW, .Button_Button__outlinedSizeMedium__XNxma {
    padding: 0 20px;
    min-width: 64px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}
.Button_Button__textSizeLarge__RMW_A {
    font-size: 18px;
    font-weight: 600;
}
.Button_Button__outlined__0HnEd {
    background-color: #fff;
}
.Button_Button__outlinedAssistive__JKDyz {
    --button-color: #171719;
    color: var(--button-color);
    font-weight: 500;
    box-shadow: inset 0 0 0 1px hsla(225, 5%, 46%, .16);
}
.Button_Button__containedAssistive__EkUt8 {
    color: #171719;
    background-color: hsla(225, 5%, 46%, .08);
}
.Button_Button__containedSizeSmall__Dlwlt, .Button_Button__outlinedSizeSmall__PllaZ{
    padding: 0 14px;
    min-width: 48px;
    height: 32px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
}

.Button_Button__endIcon__iRcD2 {
    font-size: 1.2em;
}
.Button_Button__endIcon__sizeSmall__9z_CO {
    margin-left: 4px;
}















/* LnbDesktop */
.LnbDesktop_LnbDesktop__root__ac_hF {
    position: sticky;
    top: 100px;
}
.LnbDesktop_LnbDesktop__menus__b_7nM {
    display: inline;
    display: initial;
    width: inherit;
}
.LnbDesktop_LnbDesktop__menus__b_7nM>li {
    margin-bottom: 36px;
}
.LnbDesktop_LnbDesktop__item__4_0_r {
    padding: 0;
    margin-right: 44px;
}

.LnbDesktop_LnbDesktop__text__jRj30 {
    justify-content: flex-start;
    color: rgba(55, 56, 60, .61) !important;
}
.LnbDesktop_LnbDesktop__activeLink__4PF3C {
    color: #000 !important;
    border-bottom: none;
}
.LnbMobile_LnbMobile__root__i6gbx {
    position: sticky;
    top: 56px;
    padding-top: 12px;
    background: #fff;
    border-bottom: 1px solid hsla(225, 5%, 46%, .08);
    z-index: 780;
}
.LnbDesktop_LnbDesktop__logout__85mYF {
    color: rgba(55, 56, 60, .28);
}

.LnbMobile_LnbMobile__activeLink__pk2p9 {
    border-bottom: 2px solid #000;
}

.LnbMobile_LnbMobile__item__iM7i5 {
    padding-bottom: 10px;
    margin-right: 24px;
}
.LnbMobile_LnbMobile__item__button___FKeX {
    padding: 0;
}
.LnbMobile_LnbMobile__activeLink__pk2p9 span {
    color: #000;
}

.LnbMobile_LnbMobile__setting__efjNV {
    margin-top: -10px;
    margin-right: -8px;
    color: #171719 !important;
    opacity: .8;
}
.LnbDesktop_LnbDesktop__divider__0BR8n {
    background-color: hsla(225, 5%, 46%, .08);
}
.LnbDesktop_LnbDesktop__item__4_0_r:hover {
    background-color: rgb(244, 244, 244);  /* 마우스를 올렸을 때 배경색을 회색으로 변경 */
}



/* Grid_Grid */


.Grid_Grid__container__43uvK {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.Grid_Grid__item__4GoIZ {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
.Grid_Grid__justify_center__zw3BU {
    justify-content: center;
}
.Grid_Grid__align-items_flex-start__nEOiH {
    align-items: flex-start;
}
.Grid_Grid__spacing__5__2f6bw {
    width: calc(100% + 4px* 5);
    margin-top: calc(4px* -5);
    margin-left: calc(4px* -5);
}
.Grid_Grid__direction_column__z_Dv0 {
    -ms-flex-direction: column;
    flex-direction: column;
}
.Grid_Grid__spacing__5__2f6bw>* {
    padding-top: calc(4px* 5);
    padding-left: calc(4px* 5);
}
.Grid_Grid__grid__xs__12__wtorY {
    flex-basis: 100%;
    max-width: 100%;
}

.Grid_Grid__grid__md__4__AihNY {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
}
.Grid_Grid__grid__md__1__Wzfhp {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
}
.Grid_Grid__justify_space-between__xzhoO {
    justify-content: space-between;
}
.Grid_Grid__align-items_center__2CxBh {
    align-items: center;
}
.Grid_Grid__wrap_nowrap__lW8k0 {
    flex-wrap: nowrap;
}
.Grid_Grid__align-self_stretch__Vyi4Z {
    align-self: stretch;
}
.Grid_Grid__grid__md__6__d5R_j {
    flex-basis: 50%;
    max-width: 50%;
}

.Grid_Grid__grid__xs__4__d_Dih {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
}
.Grid_Grid__grid__xs__3__Ao_Ex {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}
.Grid_Grid__align-self_center__VuP22 {
    align-self: center;
}






/* subheader */

.Subheader_Subheader__label__n1JUS {
    display: flex;
    align-items: center;
}
.Subheader_Subheader__label__title__LR61o {
    color: #000;
}

.Subheader_Subheader__iconButton__yaHa5 {
    opacity: .8;
}

















/* JobHuntingsetting */
.JobHuntingSetting_JobHuntingSetting__72QoT {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
}
.JobHuntingSetting_JobHuntingSetting__72QoT h2 {
    color: rgba(55, 56, 60, .61);
}
.JobHuntingSetting_JobHuntingSetting__container__FIYsw {
    width: 100%;
    border-radius: 12px;
    background: hsla(225, 5%, 46%, .04);
}
.JobHuntingSetting_JobHuntingSetting__container_counterContainer__D8kpd {
    padding: 20px 0;
    color: #000;
}
.JobHuntingSetting_JobHuntingSetting__container__FIYsw>div:not(:last-child) {
    border-bottom: 1px solid hsla(225, 5%, 46%, .04);
}
.JobHuntingSetting_JobHuntingSetting__container_counterContainer__D8kpd>div:not(:last-child) {
    min-height: 42px;
    border-right: 1px solid hsla(225, 5%, 46%, .04);
}







































/* listUiem */
.ListItem_ListItem__root__4HTKO {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 15px;
    
}
.ListItemAvatar_ListItemAvatar__root__6tOWo {
    min-width: 60px;
    flex-shrink: 0;
}


.ListItemText_ListItemText__root__j76to {
    flex: 1 1 auto;
    gap: 4px;
    color: inherit;
}
.List_List__root__nWfeE {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.ListItem_ListItem__label__0m2Cd {
    color: rgba(55, 56, 60, .61);
}

.ListItemIcon_ListItemIcon__root__XbBcy {
    font-size: 18px;
    flex-shrink: 0;
    display: inline-flex;
    color: rgba(55, 56, 60, .28);
}

.ListItem_ListItem__divider__KWrpp{
    border-bottom: 1px solid hsla(225, 5%, 46%, .05)
}



/* ProfileViewEducationList */

.ProfileView_ProfileView__root__VASOV {
    margin-bottom: 32px;
}

.ProfileViewHeader_ProfileViewHeader__root__4PMHn {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 36px;
}

.ProfileViewHeaderAvatar_ProfileViewHeaderAvatar__root__S9QMV {
    flex-direction: row;
    gap: 16px;}
    
    .ProfileViewHeaderAvatar_ProfileViewHeaderAvatar__avatar__98Kod {
        width: 84px;
        height: 84px;
        font-size: 50px;
    }
    .ProfileViewHeaderAvatar_ProfileViewHeaderAvatar__info__DbrqR {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
    .ProfileViewHeaderAvatar_ProfileViewHeaderAvatar__info__title__NWzRD {
        width: 170px;
    }
    .ProfileViewFollowerFollwingInfo_ProfileViewFollowerFollwingInfo__root__q2kLG {
        margin-top: 20px;
    }
    .ProfileViewFollowerFollwingInfo_ProfileViewFollowerFollwingInfo__buttonStyle__cEVZT {
        padding: 0;
    }
    
    .ProfileViewFollowerFollwingInfo_ProfileViewFollowerFollwingInfo__label__7UWo_ {
        color: rgba(55, 56, 60, .61);
    }
    .ProfileViewFollowerFollwingInfo_ProfileViewFollowerFollwingInfo__label__7UWo_>strong {
        display: inline-flex;
        align-items: center;
        color: #000;
        font-weight: 600;
    }
    .ProfileViewFollowerFollwingInfo_ProfileViewFollowerFollwingInfo__dotDivider__rgSwm {
        font-size: 4px;
        margin: 0 8px;
        color: rgba(55, 56, 60, .61);
    }
    .ProfileViewFollowerFollwingInfo_ProfileViewFollowerFollwingInfo__divider__yh8HY {
        height: 10px;
        align-self: center;
    }
    
    .ProfileViewFollowerFollwingInfo_ProfileViewFollowerFollwingInfo__chevronRightIcon__TiFPA {
        font-size: 12px;
        margin-left: -1px;
    }
    .ProfileViewHeaderActions_ProfileViewHeaderActions__root__6yt5v {
        margin-top: 20px;
        gap: 12px;
    }
    .ProfileViewHeaderActions_ProfileViewHeaderActions__btnSetting__eb6gX {
        flex-grow: 1;
    }
    
    .ProfileViewHeaderActions_ProfileViewHeaderActions__iconButton__FP7Yn {
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    .ProfileView_ProfileView__borderSection__qXEFo {
        margin-top: 20px;
    }
    
    .ProfileViewCareerEducationAdd_ProfileViewCareerEducationAdd__root__YtecC {
        margin-top: 24px;
        gap: 16px;
    }
    .ProfileViewCareerList_ProfileViewCareerList__root__F7P87 {
        margin-top: 20px !important;
    }
    .ProfileView_ProfileView__subheader__icon__k8e0f {
        font-size: 20px;
        color: rgba(55, 56, 60, .28);
    }
    .ProfileViewCareerList_ProfileViewCareerList__listitem__DimPG:last-child {
        padding-bottom: 0;
    }
    
    .ProfileViewCareerList_ProfileViewCareerList__listitem__DimPG {
        align-items: flex-start;
    }
    
    .ProfileViewCareerList_ProfileViewCareerList__listitemTextSparse__YRjU_ {
        gap: 3px;
    }
    .ProfileViewCareerList_ProfileViewCareerList__listitemText__0MuCi {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .ProfileViewCareerList_ProfileViewCareerList__companyName__qtvK7 {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-right: 2px;
        color: #000;
    }
    .ProfileViewCareerList_ProfileViewCareerList__period__eCYP_ {
        color: rgba(55, 56, 60, .61);
    }
    .ProfileViewEducationList_ProfileViewEducationList__root__807AC {
        margin-top: 56px;
    }
    .ProfileViewEducationList_ProfileViewEducationList__listitem__58LE5:last-child {
        padding-bottom: 0;
    }
    
    
    .ProfileViewEducationList_ProfileViewEducationList__listitemText__CJw5y {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .ProfileViewEducationList_ProfileViewEducationList__period__100on {
        color: rgba(55, 56, 60, .61);
    }
    .ProfileViewHeader_ProfileViewHeader__root__4PMHn {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .ProfileViewHeaderAvatar_ProfileViewHeaderAvatar__info__subText__Pht6n {
        color: rgba(55, 56, 60, .61);
    }


    
    .ProfileViewCareerEducationAdd_ProfileViewCareerEducationAdd__root__YtecC {
        margin-top: 20px;
    }
    

    .ProfileEditAvatar_Badge__root__UBIbF {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
        flex-shrink: 0;
    }

    .ProfileEditAvatar_Badge__badge__FT4fc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: absolute;
        box-sizing: border-box;
        min-width: 20px;
        line-height: 1;
        padding: 0 6px;
        height: 20px;
        z-index: 1;
    }

    .ProfileEditAvatar_Badge__anchorOriginBottomRight__1_DVM {
        bottom: 0;
        right: 0;
        transform: scale(1) translate(10%, 10%);
    }

    .ProfileEditAvatar_ProfileEditAvatar__badge__UOCW0 {
        padding: 6px;
        border: 1px solid hsla(225, 5%, 46%, .08);
        box-shadow: none !important;
    }

    .ProfileEdit_ProfileEdit__avatar__ykcjx {
        margin-top: 10px;
    }
    .ProfileEditHeader_ProfileEditHeader__container__hWp_0 {
        margin-top: 40px;
    }
    .ProfileEditHeader_ProfileEditHeader__changeArea__Gl2g0 {
        margin-top: 20px;
    }
    .ProfileEditAvatar_ProfileEditAvatar__avatar__jh4H3 {
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
    }


    .ProfileEditDescription_ProfileEditDescription__listItem__VoPor{
        gap: 8px;
    }

    .ProfileEditDescription_ProfileEditDescription__placeholder__MTsgA{
        color: rgba(55, 56, 60, .16);
    }








/* 글씨  */
.Typography_Typography__weightBold__KkJEY {
    font-weight: 600;
}
.Typography_Typography__headline1__oRteu {
    font-size: 18px;
    letter-spacing: -.002em;
    line-height: 26px;
}
.Typography_Typography__root__RdAI1 {
    margin: 0;
}
.Typography_Typography__weightMedium__GXnOM {
    font-weight: 500;
}
.Typography_Typography__heading1__N9Asv {
    font-size: 22px;
    letter-spacing: -.0194em;
    line-height: 30px;
}
.Typography_Typography__alignLeft__AQANH {
    text-align: left;
}
.Typography_Typography__noWrap___pb0d {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Typography_Typography__label1__hNiv5 {
    font-size: 14px;
    letter-spacing: .0145em;
    line-height: 20px;
}
.Typography_Typography__body1__q3AOP {
    font-size: 16px;
    letter-spacing: .0057em;
    line-height: 24px;
}
.Typography_Typography__displayBlock__A3AK8 {
    display: block;
}
.Typography_Typography__caption1__P91eH {
    font-size: 12px;
    letter-spacing: .0252em;
    line-height: 16px;
}
.Typography_Typography__weightRegular__jzmck {
    font-weight: 400;
}
.Typography_Typography__body2__5Mmhi {
    font-size: 15px;
    letter-spacing: .0096em;
    line-height: 22px;
}
.Typography_Typography__alignCenter__HDWWj {
    text-align: Center;
}
.Typography_Typography__body2-reading__8RggS {
    font-size: 15px;
    letter-spacing: .0096em;
    line-height: 24px;
}
.Typography_Typography__label1-reading__WLIqp {
    font-size: 14px;
    letter-spacing: .0145em;
    line-height: 22px;
}









/*  */
.Breadcrumb_Breadcrumb__root__mReih {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 4px;
}
.Breadcrumb_Breadcrumb__item__jn4fr{
    color: rgba(55, 56, 60, .61);
}
.Breadcrumb_Breadcrumb__separator__ee7Zi {
    font-size: 13px;
    color: rgba(55, 56, 60, .61);
}




/* TextFileld */
.TextField_TextField__fullWidth__i7XDO {
    width: 100%;
}
.TextField_TextField__multiline__Y4PHB {
    font-size: 15px;
}
.TextField_TextField__root__rI5Mb {
    padding: 12px 15px;
    border: 1px solid hsla(225, 5%, 46%, .05);
    border-radius: 10px;
    font-weight: 500;
    color: #171719;
}