 body {
    margin: 8px;
    font-size: 14px;
    color: #333;
    background-color: white;
    line-height: 1.42857143;
   font-family: Pretendard;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

* {
    color: inherit;
}

html {
    font-size: 10px;
   
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

img {
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}

a {
    text-decoration: inherit;
    cursor: pointer;
}

.TopBannerArea_MainBannerArea__IvgPD {
    position: relative;
    max-width: 1060px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-block: 41px 23px;
}




.TopBannerArea_MainBannerArea__slider__T52qV {
  
    border-radius: 12px;
    will-change: position;
    
}

.SliderContainer_container__Wt515 {
    width: 100%; /* 슬라이더 컨테이너의 너비를 100%로 설정 */
    max-width: 1060px; /* 최대 너비를 1060px로 설정 */
    margin: 0 auto; /* 슬라이더를 가운데 정렬 */
    overflow: hidden !important; /* 화면 밖의 요소를 숨김 */
}

.keen-slider {
    display: flex !important;
    overflow: hidden !important;
    width: 100% !important;
    position: relative !important;
    /* 기존 슬라이드의 총 길이를 감안하여 설정 */
    width: 5300px !important;/* 총 슬라이드 길이 */
    white-space: nowrap !important;
  

}

.keen-slider__slide {
    display: inline-block !important;
    flex: 0 0 1060px !important;/* 슬라이드의 고정 너비 설정 */
    max-width: 1060px !important;
    height: auto !important;
   
}


.TopBannerArea_MainBannerArea__dots__k3Rfw {
    position: absolute;
    left: clamp(16px, 2.545454545vw, 28px);
    bottom: clamp(16px, 2.545454545vw, 28px);
}

.BannerItem_BannerItem__c16Pm {
    position: relative;
}

.BannerItem_BannerItem__link__pAUfw {
    position: relative;
    padding-bottom: 20%;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
  
}
.BannerItem_BannerItem__link__pAUfw a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.BannerItem_BannerItem__link__img__RPD_9 {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
}

.BannerItem_BannerItem__overlay__rzFM2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.Sticky_Sticky_edge__RY08B {
    min-height: 1px;
    min-width: 1px;
}

.Sticky_Sticky_target__MRRxQ {
    position: sticky !important;
}

.EventList_EventList_header__WJ4x0 {
    top: 60px;
    z-index: 3;
    background: hsla(0, 0%, 100%, 0.88);
    backdrop-filter: saturate(150%) blur(32px);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.CategoryList_CategoryList__nBwYr {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid hsla(225, 5%, 46%, 0.08);
}

.CategoryList_CategoryNav__cPNGz {
    display: flex;
}

.CategoryList_CategoryItem__1j311 {
    color: rgba(55, 56, 60, 0.28);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.09px;
    padding-right: 16px;
    height: 39px;
    display: flex;
    align-items: flex-start;
   
    position: relative;
}

.CategoryList_CategoryItem__1j311.CategoryList_active__rissX {
    color: #171719;
}

.CategoryList_CategoryItem__1j311:after {
    content: "";
    width: calc(100% - 15px);
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: transparent;
 
}

.CategoryList_CategoryItem__1j311.CategoryList_active__rissX:after {
    background-color: #171719;
}

.FilterMenu_FilterMenu__MlY9z {
    display: flex;
    margin-left: auto;
    align-items: flex-start;
}

.FilterMenu_FilterMenu__button__k9nKZ {
    position: relative;
    color: #171717;
}

.FilterMenu_FilterMenu__button__k9nKZ:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: hsla(225, 5%, 46%, 0.04);
   
    opacity: 0;
}

.EventList_EventList_container__bZ_9Q {
    position: relative;
    padding-bottom: 120px;
    padding-top: 30px;
    gap: 42px 20px;
}

.List_List__cLdrw {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 32px 20px;
    width: 1060px;
    margin: 0 auto;
}

.Card_Card__RK7xc {
    position: relative;
   
    width: calc(25% - 15px);
}

.Card_Card__non__interaction__SMN13 {
    transform: translate(0) !important;
}

.EventItem_EventItem__C_vQK img {
  
   
   
    will-change: auto;
}

.Thumbnail_Thumbnail__image__cover__JKtxL {
    -o-object-fit: cover;
    object-fit: cover;
}

.Thumbnail_Thumbnail__image__ciaIn {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -o-object-position: center;
    object-position: center;
    z-index: 2;
}

.Thumbnail_Thumbnail__gTHAM:after {
    content: "";
    position: absolute;
    height: 48px;
    top: 0;
    left: 0;
    width: 100%;
 
    transform: rotate(180deg);
    opacity: 0;
 
}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

.EventItem_EventItem__Thumbnail__Vc_rQ {
    background: hsla(225,5%,46%,.04);
    padding-bottom: 66.8%;
    border-radius: 12px;
    border: 0;
}

.Thumbnail_Thumbnail__gTHAM {
    position: relative;
    height: auto;
    padding-left: 0;
    width: 100%;
    padding-bottom: 70%;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.06);
    
}

.EventItem_EventItem__Section__iN1_Y {
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: flex-start;
}

.EventItem_EventItem__Tag__6tGwE {
    margin-top: 12px;
    color: #3385ff;
}

.Typography_Typography__weightMedium__GXnOM {
    font-weight: 500;
}

.Typography_Typography__label2__svmAA {
    font-size: 13px;
    letter-spacing: .0194em;
    line-height: 18px;
}

.Typography_Typography__root__RdAI1 {
    margin: 0;
}

.EventItem_EventItem__Title__u2tdG {
  

    margin-top: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: .09px;
    color: #171719;
    
   
    text-overflow: ellipsis;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    
    unicode-bidi: isolate;
}

.EventItem_EventItem__Period__o90Lz {
    margin-top: 3px;
    color: rgba(55,56,60,.61);
}

html {
    
}

/* 배너 정보 텍스트를 좌측 하단으로 배치 */
.BannerItem_BannerItem__info__Whl5h {
    position: absolute;
    bottom: 125px;/* 하단에 더 가깝게 */
    left: 10px; /* 좌측에 더 가깝게 */
    color: white;
    z-index: 2;
    text-shadow: 0 2px 4px rgba(0,0,0,0.4);
    font-size: 20px; /* 텍스트 크기 */
}

/* 슬라이더 페이지네이션 스타일 수정 */
.SliderContainer_pagination__inner__3dPMY {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px; /* 첫 번째 이미지와 동일하게 하단에 배치 */
    left: 10px;   /* 첫 번째 이미지와 동일하게 왼쪽에 배치 */
    align-items: center;
    will-change: auto;
    
}

.SliderContainer_pagination__inner__3dPMY li {
    margin-right: 5px;
    margin-bottom: 13px;
}

.SliderContainer_pagination__inner__3dPMY button {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6); /* 반투명 흰색 */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
}

.SliderContainer_pagination__inner__3dPMY button:hover {
    background-color: rgba(255, 255, 255, 0.8); /* 마우스 오버 시 조금 더 밝게 */
    cursor: pointer; /* 마우스 오버 시 커서가 포인터로 변경 */
}

.SliderContainer_pagination__inner__3dPMY .dot-active button {
    background-color: #fff; /* 활성화된 점의 색상을 흰색으로 변경 */
    opacity: 1;
}

/* 번호 숨기기 */
.SliderContainer_pagination__inner__3dPMY li button {
    color: transparent; /* 숫자를 숨김 */
    font-size: 0; /* 숫자를 완전히 숨기기 위해 폰트 크기를 0으로 설정 */
}

.SliderContainer_pagination__inner__3dPMY li button::after {
    content: '';
}
.BannerItem_BannerItem__info__Whl5h>* {
    color: #fff;
}.BannerItem_BannerItem__info__title__O8R4Z {
    font-size: clamp(17px,2.18181818vw,24px);
    line-height: clamp(26px,2.90909091vw,32px);
    
}.Typography_Typography__display1__weightBold__Kcrek, .Typography_Typography__display2__weightBold__rh2RV, .Typography_Typography__title1__weightBold__VE6AD, .Typography_Typography__title2__weightBold__RpDK_, .Typography_Typography__title3__weightBold__xwZk7 {
    font-weight: 700;
}.Typography_Typography__title3__J1fCl {
    font-size: 24px;
    letter-spacing: -.023em;
    line-height: 32px;
}.Typography_Typography__root__RdAI1 {
    margin: 0;
}h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}.BannerItem_BannerItem__info__desc___I3U3 {
    margin-top: clamp(4px,.54545455vw,6px);
    font-size: clamp(12px,1.36363636vw,15px);
    line-height: clamp(16px,2vw,22px);
}.Typography_Typography__weightMedium__GXnOM {
    font-weight: 500;
}.Typography_Typography__body2__5Mmhi {
    font-size: 15px;
    letter-spacing: .0096em;
    line-height: 22px;
}p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}.BannerItem_BannerItem__overlay__rzFM2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}/* 배너 정보 텍스트의 위치 조정 */
.BannerItem_BannerItem__info__Whl5h {
    position: absolute;
    bottom: 120px; /* 첫 번째 이미지와 동일하게 하단에 배치 */
    left: 20px;   /* 첫 번째 이미지와 동일하게 왼쪽에 배치 */
    color: white;
    z-index: 2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 24x; /* 폰트 크기 조정 */
    line-height: 1.0;
}

.BannerItem_BannerItem__info__title__O8R4Z {
    font-size: 28px;
    font-weight: bold;
}

.BannerItem_BannerItem__info__desc___I3U3 {
    font-size: 18px;
    margin-top: 10px;
}

/* 슬라이더 페이지네이션 위치 및 스타일 조정 */
.SliderContainer_pagination__inner__3dPMY {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px; /* 첫 번째 이미지와 동일하게 하단에 배치 */
    left: 10px;   /* 첫 번째 이미지와 동일하게 왼쪽에 배치 */
    align-items: center;
    will-change: auto;
}

.SliderContainer_pagination__inner__3dPMY li {
    margin-right: 8px; /* 점 사이의 간격 조정 */
}

.SliderContainer_pagination__inner__3dPMY button {
    width: 4px; /* 점의 크기 조정 */
    height: 4px;
    background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
}

.SliderContainer_pagination__inner__3dPMY button:hover {
    background-color: rgba(255, 255, 255, 1); /* 마우스 오버 시 점이 더 밝아지도록 */
}

.SliderContainer_pagination__inner__3dPMY .dot-active button {
    background-color: #fff; /* 활성화된 점은 완전히 흰색으로 */
    opacity: 1;
}

/* 번호 숨기기 */
.SliderContainer_pagination__inner__3dPMY li button::after {
    content: '';
}

/* 추가 스타일 */
.TopBannerArea_MainBannerArea__IvgPD {
    padding: 40px 0;
    border-radius: 15px;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

/* 불필요한 스타일 제거 */
button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    appearance: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.FloatingButtonContainer_root__CtMpp.FloatingButtonContainer_anchor-right__SI7A3 {
    right: 0;
}.FloatingButtonContainer_root__CtMpp {
    bottom: 0;
    bottom: calc(constant(safe-area-inset-bottom) + 0px);
    bottom: calc(env(safe-area-inset-bottom) + 0px);
    position: fixed;
    pointer-events: none;
}.FloatingButtonContainer_root__CtMpp>* {
    pointer-events: auto;
}.ScrollTopButton_ScrollTopButton__k_q8G {
    position: relative;
    right: 16px;
    bottom: 16px;
   
    align-items: center;
    
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid hsla(225,5%,46%,.22);
    
    box-shadow: 0 1px 2px rgba(0,0,0,.12),0 0 1px rgba(0,0,0,.08),0 0 1px rgba(0,0,0,.08)!important;
}.IconButton_IconButton__outlined__5IpKA {
    background-color: #fff;
  
    box-shadow: inset 0 0 0 1px hsla(225,5%,46%,.22);
}.IconButton_IconButton__root__IJlt6 {
   
 
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
   
}.IconButton_IconButton__label__o4AtY {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
  
    align-items: inherit;
   
    justify-content: inherit;
    color: inherit;
}.SvgIcon_SvgIcon__root__OHiSO {
  
    display: flex;
   
    align-items: inherit;
   
    justify-content: inherit;
}.SvgIcon_SvgIcon__root__svg__ohdSc {
   
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    
    flex-shrink: 0;
    font-size: inherit;
}.IconButton_IconButton__interaction__7RjPt {
   
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #171719;
   
    transition: opacity .2s ease;
    will-change: opacity;
} .keen-slider__slide img {
   
    object-fit: cover;
    width: 100%;
    height: auto;
}
.SliderContainer_pagination__inner__3dPMY button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: gray;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.SliderContainer_pagination__inner__3dPMY button.active {
    background-color: white;
}

.SliderContainer_pagination__inner__3dPMY button:hover {
    transform: scale(1.3);
}.CategoryList_CategoryItem__1j311:hover {
   
    color: rgba(0, 0, 0, 0.7); /* 텍스트 색상을 약간 더 어둡게 설정 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 전환 효과 추가 */
}

.CategoryList_active__rissX {
   
    color: rgba(0, 0, 0, 0.9); /* 활성화된 버튼의 텍스트 색상 설정 */
}
.Thumbnail_Thumbnail__gTHAM {
    overflow: hidden; /* 이미지가 컨테이너를 넘어서지 않도록 설정 */
    position: relative;
}

.Thumbnail_Thumbnail__gTHAM img {
    transition: transform 0.3s ease; /* 이미지 확대를 부드럽게 전환 */
}

.Thumbnail_Thumbnail__gTHAM:hover img {
    transform: scale(1.1); /* 마우스를 올렸을 때 이미지를 1.1배 확대 */
}
.Modal_Modal__root__gYQkO {
    position: fixed;
    z-index: 1400;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}.Modal_Modal__root__backdrop__mYQY1 {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}.FilterModal_FilterModal__um_c3 {
    width: 480px;
    height: 640px;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    position: relative;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 12px;
}.Modal_Modal__root__body__o7bsn {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
    padding: 16px 20px;
}.FilterModal_FilterModal__Title__P2C5e {
    height: 71px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    display: flex;
}.Typography_Typography__weightBold__KkJEY {
    font-weight: 600;
}.Typography_Typography__headline1__oRteu {
    font-size: 18px;
    letter-spacing: -.002em;
    line-height: 26px;
}.Typography_Typography__root__RdAI1 {
    margin: 0;
}.FilterModal_FilterModal__CloseButton__zZ4FC {
    position: absolute;
    right: 22px;
}.IconButton_IconButton__normal__Twwsf {
    border: none;
}.IconButton_IconButton__root__IJlt6 {
  
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
}.IconButton_IconButton__label__o4AtY {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    color: inherit;
}.SvgIcon_SvgIcon__root__OHiSO {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
}.FilterModal_FilterModal__Title__P2C5e svg {
    color: #171717;
    width: 24px;
    height: 24px;
}.SvgIcon_SvgIcon__root__svg__ohdSc {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}.IconButton_IconButton__interaction__7RjPt {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: #171719;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    will-change: opacity;
}.FilterModal_FilterModal__Content__iaAMS {
    margin-right: 8px;
}.FilterModal_FilterModal__Content__iaAMS {
    padding: 19px 30px 14px;
    overflow-y: auto;
}.ModalContent_ModalContent__root__D6xF7 {
    -ms-flex: 1 1;
    flex: 1 1;
    overflow-y: auto;
    padding: 8px 24px;
}.FilterA_FilterA__Vtsi9 {
    padding-bottom: 22px;
    margin-top: 2px;
}.Typography_Typography__weightBold__KkJEY {
    font-weight: 600;
}.Typography_Typography__body1__q3AOP {
    font-size: 16px;
    letter-spacing: .0057em;
    line-height: 24px;
}.Field_Field_body__OGFJI {
    margin-top: 9px;
}.ButtonGroup_ButtonGroup__GfGC7 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 12px;
    margin-top: 16px;
}.ButtonGroup_ButtonGroup__button__BdCIk {
    height: 36px;
    min-width: 59px;
    padding-inline: 16.5px;
    line-height: 146.7%;
    letter-spacing: .144px;
}.Button_Button__containedSizeMedium__xBgIW, .Button_Button__outlinedSizeMedium__XNxma {
    padding: 0 20px;
    min-width: 64px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
}.Button_Button__outlinedPrimary__8mJWi, .Button_Button__outlined__0HnEd {
    --button-color: #06f;
    color: var(--button-color);
    -webkit-box-shadow: 0 0 0 1px var(--button-color) inset;
    box-shadow: 0 0 0 1px var(--button-color) inset;
}.Button_Button__outlined__0HnEd {
    background-color: #fff;
}.Button_Button__root__m1NGq {
    --button-color: #171719;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    border: none;
    background-color: none;
    cursor: pointer;
    white-space: nowrap;
}.Button_Button__label__K0sBs {
    width: 100%;
    font-size: inherit;
    font-weight: inherit;
    display: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    color: inherit;
}.Button_Button__interaction__1LUyr {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    opacity: 0;
    background-color: var(--button-color);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    will-change: opacity;
}.ButtonGroup_ButtonGroup__button__BdCIk.ButtonGroup_assistive__5jaMi {
    color: rgba(55,56,60,.61);
}.Field_Field__l6ycy:not(:first-of-type) {
    margin-top: 36px;
}.FilterModal_FilterModal__Actions__kZrvg {
    height: 108px;
    position: relative;
    padding-inline: 30px;
    -webkit-column-gap: 11px;
    -moz-column-gap: 11px;
    column-gap: 11px;
}.ModalActions_ModalActions__root__5Z8aC {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}.FilterModal_FilterModal__resetButton__mQuYT {
    min-width: 48px;
    padding: 0;
}.Button_Button__containedSizeLarge__9ANbc, .Button_Button__outlinedSizeLarge__A_H8o {
    padding: 0 28px;
    min-width: 84px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
}.Button_Button__containedPrimary__kCB60, .Button_Button__contained__qyP2s {
    color: #fff;
    background-color: #06f;
}.Button_Button__contained__qyP2s {
    border: none;
}.FilterModal_FilterModal__resetButton__mQuYT svg {
    width: 24px;
    height: 24px;
}.FilterModal_FilterModal__confirmButton__kfpgE {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: .09px;
}.FilterModal_FilterModal__confirmButton__kfpgE {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: .09px;
}.IconButton_IconButton__interaction__7RjPt:hover {
    opacity: .05;
}.Button_Button__interaction__1LUyr:hover {
    opacity: .05;
}/* 기본 스크롤바 스타일 */
.ModalContent_ModalContent__root__D6xF7.FilterModal_FilterModal__Content__iaAMS::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비 */
    background-color: #f0f0f0; /* 스크롤바 배경색 */
}

/* 스크롤바 트랙(슬라이더가 움직이는 영역) */
.ModalContent_ModalContent__root__D6xF7.FilterModal_FilterModal__Content__iaAMS::-webkit-scrollbar-track {
    background-color: white; /* 트랙 배경색 */
    border-radius: 10px; /* 트랙의 둥근 모서리 */
}

/* 스크롤바 슬라이더 */
.ModalContent_ModalContent__root__D6xF7.FilterModal_FilterModal__Content__iaAMS::-webkit-scrollbar-thumb {
    background-color: white; /* 슬라이더 색상 */
    border-radius: 10px; /* 슬라이더 둥근 모서리 */
    border: 3px solid #f0f0f0; /* 슬라이더와 트랙 사이의 간격 */
}

/* 스크롤바 슬라이더:hover 상태 */
.ModalContent_ModalContent__root__D6xF7.FilterModal_FilterModal__Content__iaAMS::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 슬라이더 색상 (hover 시) */
}

/* 선택된 버튼의 스타일 */
button.selected {
    border: 0.01px;
    border-color: #06f !important; /* 선택된 버튼의 파란색 테두리 */
    color: #06f !important; /* 선택된 버튼의 텍스트 색상 */
}

/* 기존 버튼 스타일에 따른 선택 상태 초기화 */
.Field_Field__l6ycy button {
    border: 0.001px solid white; /* 기본 테두리 */
    color: #333; /* 기본 텍스트 색상 */
}.FilterMenu_FilterMenu__MlY9z .FilterMenu_filterCount__V32k4 {
    position: absolute;
    width: 16px;
    height: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100%;
    background: #06f;
    color: #fff;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 128%;
    letter-spacing: .279px;
    left: 1473px;
    bottom: 32px;
}
.FilterMenu_filterCount__V32k4 {
    display: none;

}
.EventItem_EventItem__Section__iN1_Y {
    display: flex;
}

.hidden {
    display: none !important;
}
