hr {
    margin: 0;
    border: 0;
    background-color: #f2f4f6;
    width: 100%;
    height: 8px;
}

.Divider_divider {
    margin: 0;
    border: 0;
    position: relative;
}

.Divider_divider.Divider_horizontal {
    margin: 16px 0;
    background-color: #f2f4f6;
    height: 1px;
}

.Divider_divider.Divider_horizontal.Divider_lightBG {
    background-color: #f2f4f6;
    opacity: 1;
}

.Divider_divider.Divider_horizontal.Divider_spacing3 {
    margin: 8px 0;
}

.RecommendedPostsPage_container {
    display: flex;
    justify-content: center;
    background-color: #f9fafb;
    height: calc(100% - 56px);
    width: 100%;
}

.AppLayout_contents_mainContent .RecommendedPostsPage-inner {
    width: 100%;
    position: relative;
    padding: 0 16px 40px;
    background-color: #fff;
}

.Posts-list-container {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Posts-list-wrapper .postList-title {
    color: #212529;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

