.Allselect_Toggle {
    display: flex;
    margin: 12px 0 12px;
}

.SettingsToggle_toggle {
    display: flex;
    margin-right: 16px;
}

.SettingsToggle_toggle .SettingToggle_switch {
    display: block;
    position: relative;
    opacity: 1;
    border: solid 2px rgba(0, 0, 0, .06);
    border-radius: 16px;
    background-color: #f5f7fa;
    cursor: pointer;
    width: 48px;
    height: 30px;
    transition: background-color 0.3s, border-color 0.3s;
}

.SettingsToggle_toggle .SettingToggle_switch:after {
    position: absolute;
    top: 1px;
    left: 1px;
    transition: .3s all;
    border-radius: 12px;
    box-shadow: 0 6px 6px -1px rgba(10, 22, 70, .1), 0 0 5px rgba(10, 22, 70, .06);
    background-color: #fff;
    width: 24px;
    height: 24px;
    content: "";
}

input, textarea {
    background: none;
}

.SettingsToggle_toggle .SettingToggle_input {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
}

.AllSettingToggle_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 8px;
    width: 100%;
    color: #212529;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}