<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.3/dist/web/static/pretendard-dynamic-subset.css"
        />
        <link
            rel="stylesheet"
            href="/static/css/match_page/matchTeamInfo.css"
        />
        <title>매칭 팀 정보보기</title>
    </head>
    <body></body>
    <script src="/static/js/match_page/matchTeamInfo.js"></script>
</html>
