<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자 페이지</title>
        <link rel="stylesheet" href="/static/css/admin_page/admin_page_main.css" />
    </head>
    <body>
        <div id="root">
            <div id="AppLayout_container" class="AppLayout_container_2g11i">
                <div class="AppGNBNavbar_container__1icQW">
                    <div class="AppGNBNavbar_flex__2DD3K">
                        <div class="StudioLogo_container__2u4Eb">
                            <button
                                class="StudioLogo_logo__pXI-Y"
                                type="button"
                                aria-label="로고 버튼"
                            >
                                관리자 페이지
                            </button>
                        </div>
                        <div
                            class="AppGNBNavbar_flex__2DD3K AppGNBNavbar_rightBox__1qtn6"
                        >
                            <div class="ProjectInfo_container__3jAST">
                                <button
                                    type="button"
                                    class="ProjectInfo_infoButton__2bg95"
                                    aria-controls="project-info-box"
                                    aria-expanded="false"
                                >
                                    관리자 ID:
                                    <span class="ProjectInfo_emphasis__1i34c"
                                        >###</span
                                    >
                                    <span class="ProjectInfo_text__3evR-"
                                        >정보</span
                                    ><svg
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        focusable="false"
                                        role="presentation"
                                        class="withIcon_icon__2IQiS"
                                        aria-hidden="true"
                                        style="width: 12px; height: 12px"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"
                                        ></path>
                                    </svg>
                                </button>
                            </div>
                            <div
                                class="AnnouncementButton_container__1p1gr"
                                role="button"
                            >
                                <img
                                    class="AnnouncementButton_icon__29AtY"
                                    src="https://static.wadiz.kr/studio/funding/static/media/announcement.56f4b8e3.svg"
                                    alt=""
                                    aria-hidden="true"
                                /><span
                                    class="Badge_container__3exWO Badge_visible__1Zpvc AnnouncementButton_badge__2Jq25"
                                    ><span
                                        class="Badge_badge__3-2fx Badge_dot__vTBB0 Badge_md__2iPBs"
                                    ></span
                                ></span>
                            </div>
                            <div class="PreviewExitButtons_container__1R35v">
                                <button
                                    class="Button_button__35X6_ PreviewExitButtons_button__2tixf"
                                    type="button"
                                >
                                    <span
                                        ><span class="Button_children__1TD4r"
                                            >관리자 로그아웃</span
                                        ></span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="AppLayout_main__contain">
                        <!-- 사이드바 카테고리 추가 -->
                        <div class="MenuItems_section__qApp6">
    <a href="#" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS">
        <span class="MenuItems_label__2ceJf">회원 관리</span>
    </a>
    <div class="submenu">
        <a href="#">회원 목록 조회</a>
        <a href="#">회원 상세정보</a>
        <a href="#">회원 수정</a>
    </div>
</div>
<div class="MenuItems_section__qApp6">
    <a href="#" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS">
        <span class="MenuItems_label__2ceJf">고객 지원</span>
    </a>
    <div class="submenu">
        <a href="#">문의 답변</a>
        <a href="#">공지사항 추가</a>
    </div>
</div>
<div class="MenuItems_section__qApp6">
    <a href="#" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS">
        <span class="MenuItems_label__2ceJf">게시판 관리</span>
    </a>
    <div class="submenu">
        <a href="#">목록 조회</a>
        <a href="#">게시판 수정</a>
    </div>
</div>
<div class="MenuItems_section__qApp6">
    <a href="#" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS">
        <span class="MenuItems_label__2ceJf">서비스 관리</span>
    </a>
    <div class="submenu">
        <a href="#">팀/팀원 모집</a>
        <a href="#">팀 수정</a>
        <a href="#">장소 수정</a>
        <a href="#">매칭 관리</a>
    </div>
</div>
<div class="MenuItems_section__qApp6">
    <a href="#" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS">
        <span class="MenuItems_label__2ceJf">결제 관리</span>
    </a>
    <div class="submenu">
        <a href="#">결제 내역</a>
        <a href="#">환불 처리</a>
    </div>
</div>
<div class="MenuItems_section__qApp6">
    <a href="#" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS">
        <span class="MenuItems_label__2ceJf">배너 관리</span>
    </a>
</div>

                                >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
