<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/css/admin_page/ex_admin_inlineStyle.css">
        <link rel="stylesheet" href="/static/css/admin_page/ex_vendors_main.css">
        <link rel="stylesheet" href="/static/css/admin_page/ex_admin.css" />
    </head>
    <body>
        <noscript>#</noscript>
        <div id="root">
            <div id="AppLayot_Container" class="AppLayout_container__2g11i">
                <div class="AppGNBNavbar_container__1icQW">
                    <div class="AppGNBNavbar_flex__2DD3K">
                        <div class="StudioLogo_container__2u4Eb">
                            <button
                                class="StudioLogo_logo__pXI-Y"
                                type="button"
                                aria-label="로고버튼"
                            ></button>
                            <div class="StudioLogo_type__2Sksn">
                                관리자전용 페이지
                            </div>
                        </div>
                        <div class="StudioStatus_stateBox__21QpO">
                            <span class="StudioStatus_state__2OMTs"
                                >작업 중</span
                            >
                        </div>
                    </div>
                    <div
                        class="AppGNBNavbar_flex__2DD3K AppGNBNavbar_rightBox__1qtn6"
                    >
                        <div class="ProjectInfo_container__3jAST">
                            <button class="ProjectInfo_infoButton__2bg95" type="button"
                            aria-controls="project-info-box" aria-expanded="true">
                            관리자 ID: 
                                <span class="ProjectInfo_emphasis__1i34c">Yanawa</span>
                                <span class="ProjectInfo_text__3evR-">정보</span>
                                <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true" style="height: 12px;"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path></svg>
                            </button>
                            <div class="ProjectInfo_infoBox__2x8RL" role="region" aria-labelledby="project-info">
                                <dl>
                                    <!-- 삭제해도 될듯함 -->
                                    <!-- <dt class="BlindText_textHidden__1W0aB">메이커 명</dt> -->
                                    <dd class="ProjectInfo_content__1VmXE">
                                        <!-- 아바타 사진 업로드 -->
                                        <span class="Avatar_avatar__1mOG5 Avatar_sm__V_6km ProjectInfo_profileImage__1PLV0">
                                            <span class="Avatar_inner__hN779">
                                                <img src="https://static.wadiz.kr/studio/funding/static/media/default-zingugi.de76a099.svg" alt="">
                                            </span>
                                        </span>
                                            <!-- 추후 관리자: 이름 으로 변경 또는 삭제 -->
                                            <span class="ProjectInfo_makerName__KIDrd">
                                                관리자: "이름"
                                            </span>
                                        
                                    </dd>
                                    <!--  -->
                                    <dt class="BlindText_textHidden__1W0aB"> 상태</dt>
                                    <dd class="ProjectInfo_content__1VmXE ProjectInfo_stateBox__705_4">
                                        <!-- 추후 관리자가 무엇하는 중인지로 변경 ex)관리 중 -->
                                        <span class="ProjectInfo_state__1Aqkt">작업 중</span>
                                    </dd>
                                </dl>
                                <!-- <button class="Button_button__35X6_ Button_primary__1vdas 
                                Button_contained__1XlJQ Button_sm__3vobZ Button_startIcon__7ZEht 
                                Button_block__3y0pW">
                                추후 삭제
                                    <span>
                                        <svg viewBox="0 0 40 40" focusable="true" role="presentation" class="withIcon_icon__2IQiS Button_icon__2I54k" aria-hidden="true">
                                            <path d="M33.6 5.2a9 9 0 0 1 0 12.7L29 22.5l-.6.5a11 11 0 0 0-.4-2.4l4.1-4.1a7 7 0 0 0-9.9-9.9l-4.6 4.6a7 7 0 0 0 4.7 11.9 5 5 0 0 1-.2 2 8.9 8.9 0 0 1-7.8-5.4 9.1 9.1 0 0 1-.3-6.5 8.9 8.9 0 0 1 2.1-3.4l4.6-4.6a9 9 0 0 1 12.9 0zm-15.7 9.5a5 5 0 0 0-.2 2 6.9 6.9 0 0 1 6.3 4.2 7 7 0 0 1-1.5 7.7l-5.7 5.7a7 7 0 0 1-9.9-9.9l5.2-5.2a11 11 0 0 1-.4-2.4l-.6.5-5.6 5.6a9 9 0 1 0 12.7 12.8l5.7-5.7a8.9 8.9 0 0 0 2.1-3.4 9.1 9.1 0 0 0-.3-6.5 8.9 8.9 0 0 0-7.8-5.4z"></path>
                                        </svg>
                                        <span class="Button_children__1TD4r">URL 복사</span>
                                    </span>    
                            </button> -->
                            </div>
                        </div>
                        <div class="AnnouncementButton_container__1p1gr">
                            <!-- 확성기 아이콘/무슨 기능 넣을지 미정 -->
                            <img class="AnnouncementButton_icon__29AtY" src="https://static.wadiz.kr/studio/funding/static/media/announcement.56f4b8e3.svg" alt="" aria-hidden="true">
                            <span class="Badge_container__3exWO AnnouncementButton_badge__2Jq25"></span>
                        </div>
                        <!-- 미리보기/나가기 버튼/ 나가기 버튼은 로그아웃 버튼으로 변경 /미리보기 미정-->
                        <div class="PreviewExitButtons_container__1R35v">
                            <!-- <button class="Button_button__35X6_ PreviewExitButtons_button__2tixf" type="button"><span><span class="Button_children__1TD4r">미리보기</span></span></button> -->
                            <button class="Button_button__35X6_ PreviewExitButtons_button__2tixf" type="button"><span><span class="Button_children__1TD4r">관리자 페이지 나가기</span></span></button>
                        </div>
                </div>
            </div>    
                <!-- 메인컨텐츠 영역 -->
                <div class="AppLayout_main__3h4EB">
                    <!-- 사이드바 영역 -->
                    <div class="AppSidebarLayout_container__3ldf5">
                        <div class="AppSidebarLayout_content__3VHIu">
                            <!-- 관리자페이지 서비스 기능 카테고리 -->
                            <div class="MenuItems_section__qApp6">

                                <!-- 대카테고리 -->
                                <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        고객 지원
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">문의 답변</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">공지사항 작성</a>
                                    
                                </div>
                                
                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        회원 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">회원 목록 조회</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">회원 상세 정보</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">회원 정보 수정</a>
                                </div>

                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        게시판 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">게시판 목록 조회</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">게시판 수정</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">댓글 수정</a>
                                    
                                </div>

                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        결제 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">결제 관리</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">환불 처리</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">결제 실패 내역 및 재처리</a>
                                </div>

                                 <!-- 대카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        배너 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 중카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">통합 배너 관리</a>
                                </div>

                                <!-- 서비스 대카테고리 -->

                                 <!-- 서비스 중카테고리 -->
                                 <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        팀/팀원 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 서비스 소카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">공고 상세페이지</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">공고 게시판 수정</a>
                                </div>

                                <!-- 서비스 중카테고리 -->
                                <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        매칭 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 서비스 소카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">등록/신청 경기 목록 조회</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">경기 페이지 상세 조회</a>
                                </div>

                                <!-- 서비스 중카테고리 -->
                                <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        팀페이지 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 서비스 소카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">팀 상세페이지 조회</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">팀 수정</a>
                                </div>

                                <!-- 서비스 중카테고리 -->
                                <a aria-current="page" class="MenuItems_menu__QgJck MenuItems_hasSubmenu__1EhTS MenuItems_active__tDqWg" href="/studio/reward/309471/funding">
                                    <span class="MenuItems_label__2ceJf">
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS" aria-hidden="true">
                                            <!-- 이미지 -->
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.656 3.944a1.4 1.4 0 0 1 .92-.344h9.448c.375 0 .735.15.998.417l2.84 2.883H3.258l3.398-2.956zM2.6 8.1V19A1.4 1.4 0 0 0 4 20.4h16a1.4 1.4 0 0 0 1.4-1.4V8.1H2.6zm4.976-5.7a2.6 2.6 0 0 0-1.706.638L2.293 6.15a2.6 2.6 0 0 0-.894 1.962V19A2.6 2.6 0 0 0 4 21.6h16a2.6 2.6 0 0 0 2.6-2.6V8.02a2.6 2.6 0 0 0-.747-1.825l-2.976-3.02a2.6 2.6 0 0 0-1.852-.775h-9.45zM9.4 12a.6.6 0 0 1 .6-.6h4a.6.6 0 1 1 0 1.2h-4a.6.6 0 0 1-.6-.6z">
                                            </path>
                                        </svg>
                                        <!-- 기획안 대로 카테고리 변경 -->
                                        장소 관리
                                        <!-- 클릭이벤트 이미지 -->
                                        <svg viewBox="0 0 24 24" fill="none" focusable="false" role="presentation" class="withIcon_icon__2IQiS MenuItems_downIcon__2GVY9 MenuItems_open__2VtAS" aria-hidden="true">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.576 7.924l.848-.848L12 15.652l8.576-8.576.848.848L12 17.35 2.576 7.924z"></path>
                                        </svg>
                                    </span>
                                </a>
                                <!-- 서비스 소카테고리 -->
                                <div class="MenuItems_submenuContainer__3sALs MenuItems_show__1ldUA">
                                    <a class="MenuItems_submenu__3RDKb" href="">장소 상세페이지 조회</a>
                                    <a class="MenuItems_submenu__3RDKb" href="">장소 수정</a>
                                </div>

                            
                            </div>
                        </div>
                    </div>
                    <div id="AppLayout_Contents" class="AppLayout_contents__1VFab">

                    </div>
                </div>
            
        </div>
    </body>
    <script src="/static/js/admin_page/ex_admin.js"></script>
</html>
