<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <section class="sider-section-team-info">
            <div class="wrapper-div">
                <div class="context-area">
                    <div class="confirm-title">팀 이름 : 신림 슬램덩크 🏀</div>
                    <div class="confirm-descript gap">
                        팀원 수 : 6명
                        <br />
                        팀 소개 : 저희 초보입니다 즐겜 할사람들만 찾아요~
                    </div>
                    <div class="team-info-img">
                        <div class="team-leader">
                            <div class="avatar-leader">
                                <img
                                    src="/static/images/match_page/crown.png"
                                    class="leader-icon"
                                />
                                <img
                                    class="avatar-leader-image"
                                    src="https://www.wadiz.kr/wwwwadiz/green001/sns_profile_pics/20190628131053715_1093192335.jpg"
                                />
                            </div>
                        </div>
                        <div class="team-member">
                            <div class="avatar-member">
                                <img
                                    class="avatar-member-image"
                                    src="https://static.wadiz.kr/assets/icon/profile-icon-6.png"
                                />
                            </div>
                        </div>
                        <div class="team-member">
                            <div class="avatar-member">
                                <img
                                    class="avatar-member-image"
                                    src="https://www.wadiz.kr/wwwwadiz/green001/sns_profile_pics/kakao/20240827191945842_473757626.jpg"
                                />
                            </div>
                        </div>
                        <div class="team-member">
                            <div class="avatar-member">
                                <img
                                    class="avatar-member-image"
                                    src="https://www.wadiz.kr/wwwwadiz/green001/sns_profile_pics/kakao/20240822112346530_3674318260.jpg"
                                />
                            </div>
                        </div>
                        <div class="team-member">
                            <div class="avatar-member">
                                <img
                                    class="avatar-member-image"
                                    src="https://www.wadiz.kr/wwwwadiz/green001/sns_profile_pics/20190628131053715_1093192335.jpg"
                                />
                            </div>
                        </div>
                        <div class="team-member">
                            <div class="avatar-member">
                                <img
                                    class="avatar-member-image"
                                    src="https://static.wadiz.kr/assets/icon/profile-icon-6.png"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
